.CommentEdit {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.CommentEdit_newComment {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 13.8px;
    text-align: left;
    margin-bottom: 7px;

}

.CommentEdit_input {
    margin-bottom: 10px;
    height: 76px;
}
.CommentEdit_buttonWrapper{
    display: flex;
    column-gap: 10px;
}
.CommentEdit_button {
    height: 21px;
    width: 90px;

}
.CommentEdit_buttonCancel{
    height: 21px;
    width: 67px;
}