
.Basket-total {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-items: center;
}
.Basket-space{
height: 68px;
}

.Basket-totalSum {
    padding: 20px 100px 20px 20px;
}