.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 90%;
  padding: 20px 10px;
}
.Item-price{
  width: 10%;
  padding: 20px 20px 20px 10px;
  text-align: right;
}
.Item-quant{
  padding: 20px 20px 20px 10px;
  width: 10%;
}


.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
